<div>
  <.simple_form
    :let={f}
    for={@changeset}
    phx-submit="save"
    phx-change="update"
    phx-target={@myself}
  >
    <.input
      autocomplete="off"
      phx-keydown={show_modal("edit_message")}
      phx-key="ArrowUp"
      phx-focus="unpin_scrollbar_from_top"
      field={{f, :content}}
    />
    <:actions>
      <.button>send</.button>
    </:actions>
  </.simple_form>
</div>
